extend = [
    { path = "../cargo-make/main.toml" },
    { path = "../cargo-make/wasm-test.toml" },
    { path = "../cargo-make/trunk_server.toml" },
    { path = "../cargo-make/playwright-trunk-test.toml" },
]
