(
    creation_location: (
        line: 13,
        column: 18,
        file: "todo_app_sqlite_pavex/src/blueprint.rs",
    ),
    constructors: [
        (
            constructor: (
                callable: (
                    registered_at: "todo_app_sqlite_pavex",
                    import_path: "pavex::request::query::QueryParams::extract",
                ),
                location: (
                    line: 32,
                    column: 8,
                    file: "todo_app_sqlite_pavex/src/blueprint.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: "todo_app_sqlite_pavex",
                    import_path: "pavex::request::query::errors::ExtractQueryParamsError::into_response",
                ),
                location: (
                    line: 36,
                    column: 6,
                    file: "todo_app_sqlite_pavex/src/blueprint.rs",
                ),
            )),
        ),
        (
            constructor: (
                callable: (
                    registered_at: "todo_app_sqlite_pavex",
                    import_path: "pavex::request::route::RouteParams::extract",
                ),
                location: (
                    line: 41,
                    column: 8,
                    file: "todo_app_sqlite_pavex/src/blueprint.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: "todo_app_sqlite_pavex",
                    import_path: "pavex::request::route::errors::ExtractRouteParamsError::into_response",
                ),
                location: (
                    line: 45,
                    column: 6,
                    file: "todo_app_sqlite_pavex/src/blueprint.rs",
                ),
            )),
        ),
        (
            constructor: (
                callable: (
                    registered_at: "todo_app_sqlite_pavex",
                    import_path: "pavex::request::body::JsonBody::extract",
                ),
                location: (
                    line: 50,
                    column: 8,
                    file: "todo_app_sqlite_pavex/src/blueprint.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: "todo_app_sqlite_pavex",
                    import_path: "pavex::request::body::errors::ExtractJsonBodyError::into_response",
                ),
                location: (
                    line: 54,
                    column: 6,
                    file: "todo_app_sqlite_pavex/src/blueprint.rs",
                ),
            )),
        ),
        (
            constructor: (
                callable: (
                    registered_at: "todo_app_sqlite_pavex",
                    import_path: "pavex::request::body::BufferedBody::extract",
                ),
                location: (
                    line: 57,
                    column: 8,
                    file: "todo_app_sqlite_pavex/src/blueprint.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: "todo_app_sqlite_pavex",
                    import_path: "pavex::request::body::errors::ExtractBufferedBodyError::into_response",
                ),
                location: (
                    line: 61,
                    column: 6,
                    file: "todo_app_sqlite_pavex/src/blueprint.rs",
                ),
            )),
        ),
        (
            constructor: (
                callable: (
                    registered_at: "todo_app_sqlite_pavex",
                    import_path: "<pavex::request::body::BodySizeLimit as std::default::Default>::default",
                ),
                location: (
                    line: 64,
                    column: 8,
                    file: "todo_app_sqlite_pavex/src/blueprint.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: None,
        ),
        (
            constructor: (
                callable: (
                    registered_at: "todo_app_sqlite_pavex",
                    import_path: "crate::user_agent::UserAgent::extract",
                ),
                location: (
                    line: 16,
                    column: 8,
                    file: "todo_app_sqlite_pavex/src/blueprint.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: None,
            error_handler: Some((
                callable: (
                    registered_at: "todo_app_sqlite_pavex",
                    import_path: "crate::user_agent::invalid_user_agent",
                ),
                location: (
                    line: 20,
                    column: 6,
                    file: "todo_app_sqlite_pavex/src/blueprint.rs",
                ),
            )),
        ),
        (
            constructor: (
                callable: (
                    registered_at: "todo_app_sqlite_pavex",
                    import_path: "crate::telemetry::RootSpan::new",
                ),
                location: (
                    line: 72,
                    column: 8,
                    file: "todo_app_sqlite_pavex/src/blueprint.rs",
                ),
            ),
            lifecycle: RequestScoped,
            cloning_strategy: Some(CloneIfNecessary),
            error_handler: None,
        ),
    ],
    middlewares: [
        (
            middleware: (
                callable: (
                    registered_at: "todo_app_sqlite_pavex",
                    import_path: "crate::telemetry::logger",
                ),
                location: (
                    line: 78,
                    column: 8,
                    file: "todo_app_sqlite_pavex/src/blueprint.rs",
                ),
            ),
            error_handler: None,
        ),
    ],
    routes: [
        (
            path: "/api/ping",
            method_guard: (
                inner: Some((
                    bitset: 256,
                    extensions: [],
                )),
            ),
            request_handler: (
                callable: (
                    registered_at: "todo_app_sqlite_pavex",
                    import_path: "crate::routes::status::ping",
                ),
                location: (
                    line: 24,
                    column: 8,
                    file: "todo_app_sqlite_pavex/src/blueprint.rs",
                ),
            ),
            error_handler: None,
        ),
        (
            path: "/api/greet/:name",
            method_guard: (
                inner: Some((
                    bitset: 256,
                    extensions: [],
                )),
            ),
            request_handler: (
                callable: (
                    registered_at: "todo_app_sqlite_pavex",
                    import_path: "crate::routes::greet::greet",
                ),
                location: (
                    line: 25,
                    column: 8,
                    file: "todo_app_sqlite_pavex/src/blueprint.rs",
                ),
            ),
            error_handler: None,
        ),
    ],
    fallback_request_handler: None,
    nested_blueprints: [],
)