[package]
name = "timer"
version = "0.1.0"
edition = "2021"

[profile.release]
codegen-units = 1
lto = true

[dependencies]
leptos = { path = "../../leptos", features = ["csr"] }
console_log = "1"
log = "0.4"
console_error_panic_hook = "0.1.7"
wasm-bindgen = "0.2"

[dependencies.web-sys]
version = "0.3"
features = ["Window"]

[dev-dependencies]
wasm-bindgen-test = "0.3.0"
