[workspace]
resolver = "2"
members = [
  # utilities
  "oco",

  # core
  "leptos",
  "leptos_dom",
  "leptos_config",
  "leptos_hot_reload",
  "leptos_macro",
  "leptos_reactive",
  "leptos_server",
  "server_fn",
  "server_fn_macro",
  "server_fn/server_fn_macro_default",

  # integrations
  "integrations/actix",
  "integrations/axum",
  "integrations/utils",

  # libraries
  "meta",
  "router",
]
exclude = ["benchmarks", "examples"]

[workspace.package]
version = "0.6.15"
rust-version = "1.75"

[workspace.dependencies]
oco_ref = { path = "./oco", version = "0.1.0" }
leptos = { path = "./leptos", version = "0.6.15" }
leptos_dom = { path = "./leptos_dom", version = "0.6.15" }
leptos_hot_reload = { path = "./leptos_hot_reload", version = "0.6.15" }
leptos_macro = { path = "./leptos_macro", version = "0.6.15" }
leptos_reactive = { path = "./leptos_reactive", version = "0.6.15" }
leptos_server = { path = "./leptos_server", version = "0.6.15" }
server_fn = { path = "./server_fn", version = "0.6.15" }
server_fn_macro = { path = "./server_fn_macro", version = "0.6.15" }
server_fn_macro_default = { path = "./server_fn/server_fn_macro_default", version = "0.6" }
leptos_config = { path = "./leptos_config", version = "0.6.15" }
leptos_router = { path = "./router", version = "0.6.15" }
leptos_meta = { path = "./meta", version = "0.6.15" }
leptos_integration_utils = { path = "./integrations/utils", version = "0.6.15" }

[profile.release]
codegen-units = 1
lto = true
opt-level = 'z'

[workspace.metadata.cargo-all-features]
skip_feature_sets = [["csr", "ssr"], ["csr", "hydrate"], ["ssr", "hydrate"]]
