############
# A make file for cargo-make, please install it with:
#     cargo install --force cargo-make
############

[config]
# make tasks run at the workspace root
default_to_workspace = false

[tasks.ci]
dependencies = ["build", "check-examples", "test"]

[tasks.build]
clear = true
dependencies = ["build-all", "build-wasm"]

[tasks.build-all]
command = "cargo"
args = ["+nightly", "build-all-features"]
install_crate = "cargo-all-features"

[tasks.build-wasm]
clear = true
dependencies = [{ name = "build-wasm", path = "leptos" }]

[tasks.check-examples]
clear = true
dependencies = [
	{ name = "check", path = "examples/counter" },
	{ name = "check", path = "examples/counter_isomorphic" },
	{ name = "check", path = "examples/counter_without_macros" },
	{ name = "check", path = "examples/counters" },
	{ name = "check", path = "examples/counters_stable" },
	{ name = "check", path = "examples/errors_axum" },
	{ name = "check", path = "examples/fetch" },
	{ name = "check", path = "examples/hackernews" },
	{ name = "check", path = "examples/hackernews_axum" },
	{ name = "check", path = "examples/parent_child" },
	{ name = "check", path = "examples/router" },
	{ name = "check", path = "examples/tailwind" },
	{ name = "check", path = "examples/todo_app_sqlite" },
	{ name = "check", path = "examples/todo_app_sqlite_axum" },
	{ name = "check", path = "examples/todo_app_sqlite_viz" },
	{ name = "check", path = "examples/todomvc" },
]

[tasks.test]
clear = true
dependencies = ["test-all"]

[tasks.test-all]
command = "cargo"
args = ["+nightly", "test-all-features"]
install_crate = "cargo-all-features"
