[package]
name = "leptos_router"
version = "0.7.0-preview"
edition = "2021"
authors = ["Greg Johnston", "Ben Wishovich"]
license = "MIT"
readme = "../README.md"
repository = "https://github.com/leptos-rs/leptos"
description = "Router for the Leptos web framework."
rust-version.workspace = true

[dependencies]
leptos = { workspace = true }
any_spawner = { workspace = true }
either_of = { workspace = true }
or_poisoned = { workspace = true }
reactive_graph = { workspace = true }
tachys = { workspace = true, features = ["reactive_graph"] }
url = "2"
js-sys = { version = "0.3" }
wasm-bindgen = { version = "0.2" }
tracing = { version = "0.1", optional = true }
paste = "1"
once_cell = "1"
send_wrapper = "0.6"
thiserror = "1"

[dependencies.web-sys]
version = "0.3"
features = [
	"Document",
	"Window",
	"console",
	# History/Routing
	"History",
	"HtmlAnchorElement",
	"Location",
	"MouseEvent",
	"Url",
	# Form
	"FormData",
	"HtmlButtonElement",
	"HtmlFormElement",
	"HtmlInputElement",
	"SubmitEvent",
	"Url",
	"UrlSearchParams",
	# Fetching in Hydrate Mode
	"Headers",
	"Request",
	"RequestInit",
	"RequestMode",
	"Response",
]

[features]
tracing = ["dep:tracing"]
ssr = []
nightly = []
