[package]
name = "server_fn_macro"
authors = ["Greg Johnston"]
license = "MIT"
repository = "https://github.com/leptos-rs/leptos"
description = "RPC for any web framework."
readme = "../README.md"
version = { workspace = true }
edition.workspace = true

[dependencies]
quote = "1.0"
syn = { version = "2.0", features = ["full", "parsing", "extra-traits"] }
proc-macro2 = "1.0"
xxhash-rust = { version = "0.8.12", features = ["const_xxh64"] }
const_format = "0.2.33"
convert_case = "0.6.0"

[features]
nightly = []
ssr = []
actix = []
axum = []
generic = []
reqwest = []

[package.metadata.docs.rs]
rustdoc-args = ["--generate-link-to-definition"]
