[package]
name = "leptos_actix"
version = { workspace = true }
edition = "2021"
authors = ["Greg Johnston"]
license = "MIT"
repository = "https://github.com/leptos-rs/leptos"
description = "Actix integrations for the Leptos web framework."

[features]
default = ["nightly"]
nightly = [
    "leptos/nightly", 
    "leptos_meta/nightly", 
    "leptos_router/nightly",
    "leptos_integration_utils/nightly"
]

[dependencies]
actix-web = "4"
futures = "0.3"
leptos = { workspace = true, features = ["ssr"] }
leptos_meta = { workspace = true, features = ["ssr"] }
leptos_router = { workspace = true, features = ["ssr"] }
leptos_integration_utils = { workspace = true }
parking_lot = "0.12.1"
regex = "1.7.0"
