[package]
name = "leptos_actix"
version = {workspace = true}
edition = "2021"
authors = ["Greg Johnston"]
license = "MIT"
repository = "https://github.com/gbj/leptos"
description = "Actix integrations for the Leptos web framework."

[dependencies]
actix-web = "4"
futures = "0.3"
leptos = { workspace = true, features = ["ssr"] }
leptos_meta = { workspace = true, features = ["ssr"] }
leptos_router = { workspace = true, features = ["ssr"] }
regex = "1.7.0"
tokio = "1.24.1"
