[package]
name = "leptos_actix"
authors = ["Greg Johnston"]
license = "MIT"
repository = "https://github.com/leptos-rs/leptos"
description = "Actix integrations for the Leptos web framework."
version = { workspace = true }
rust-version.workspace = true
edition.workspace = true

[dependencies]
actix-http = "3.9"
actix-files = "0.6"
actix-web = "4.9"
futures = "0.3.31"
any_spawner = { workspace = true, features = ["tokio"] }
hydration_context = { workspace = true }
leptos = { workspace = true, features = ["nonce", "ssr"] }
leptos_integration_utils = { workspace = true }
leptos_macro = { workspace = true, features = ["actix"] }
leptos_meta = { workspace = true, features = ["nonce"] }
leptos_router = { workspace = true, features = ["ssr"] }
server_fn = { workspace = true, features = ["actix"] }
serde_json = { workspace = true }
parking_lot = "0.12.3"
tracing = { version = "0.1", optional = true }
tokio = { version = "1.43", features = ["rt", "fs"] }
send_wrapper = "0.6.0"
dashmap = "6"
once_cell = "1"

[package.metadata.docs.rs]
rustdoc-args = ["--generate-link-to-definition"]

[features]
dont-use-islands-router = []
tracing = ["dep:tracing"]

[package.metadata.cargo-all-features]
denylist = ["tracing"]
