[package]
name = "hydration-test"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
leptos = { path = "../../../leptos", features = ["nightly"] }
actix-web = { version = "4", optional = true }
actix-files = { version = "0.6.0", optional = true }
wasm-bindgen = { version = "0.2.0", optional = true }
gloo = { version = "0.11.0", optional = true }
console_error_panic_hook = "0.1.7"
futures = "0.3.0"

[features]
default = ["ssr"]
ssr = ["leptos/ssr", "dep:actix-files", "dep:actix-web"]
hydrate = ["leptos/hydrate", "dep:wasm-bindgen", "dep:gloo"]

[package.metadata.cargo-all-features]
max_combination_size = 2
