[package]
name = "routing"
edition = "2021"
version.workspace = true

[dependencies]
any_spawner = { workspace = true }
either_of = { workspace = true } 
reactive_graph = { workspace = true } 
tachys = { workspace = true, features = ["reactive_graph"] } 
url = "2"
js-sys = { version = "0.3" }
wasm-bindgen = { version = "0.2" }
tracing = { version = "0.1", optional = true }
paste = "1.0.14"
once_cell = "1.19.0"

[dependencies.web-sys]
version = "0.3"
features = [
	"Document",
	"Window",
	"console",
	# History/Routing
	"History",
	"HtmlAnchorElement",
	"Location",
	"MouseEvent",
	"Url",
	# Form
	"FormData",
	"HtmlButtonElement",
	"HtmlFormElement",
	"HtmlInputElement",
	"SubmitEvent",
	"Url",
	"UrlSearchParams",
	# Fetching in Hydrate Mode
	"Headers",
	"Request",
	"RequestInit",
	"RequestMode",
	"Response",
]

[features]
tracing = ["dep:tracing"]
