[package]
name = "leptos_macro"
version = { workspace = true }
edition = "2021"
authors = ["Greg Johnston"]
license = "MIT"
repository = "https://github.com/leptos-rs/leptos"
description = "view macro for the Leptos web framework."
readme = "../README.md"

[lib]
proc-macro = true

[dependencies]
attribute-derive = { version = "0.6", features = ["syn-full"] }
cfg-if = "1"
html-escape = "0.2"
itertools = "0.10"
prettyplease = "0.2.4"
proc-macro-error = "1"
proc-macro2 = "1"
quote = "1"
syn = { version = "2", features = ["full"] }
rstml = "0.11.0"
leptos_hot_reload = { workspace = true }
server_fn_macro = { workspace = true }
convert_case = "0.6.0"
uuid = { version = "1", features = ["v4"] }
tracing = "0.1.37"

[dev-dependencies]
log = "0.4"
typed-builder = "0.14"
trybuild = "1"
leptos = { path = "../leptos" }

[features]
default = ["ssr"]
csr = []
hydrate = []
ssr = []
nightly = ["server_fn_macro/nightly"]
tracing = []

[package.metadata.cargo-all-features]
denylist = ["nightly", "tracing"]
skip_feature_sets = [["csr", "hydrate"], ["hydrate", "csr"], ["hydrate", "ssr"]]
