[package]
name = "leptos"
version = { workspace = true }
edition = "2021"
authors = ["Greg Johnston"]
license = "MIT"
repository = "https://github.com/gbj/leptos"
description = "Leptos is a full-stack, isomorphic Rust web framework leveraging fine-grained reactivity to build declarative user interfaces."
readme = "../README.md"

[dependencies]
cfg-if = "1"
leptos_dom = { workspace = true }
leptos_macro = { workspace = true }
leptos_reactive = { workspace = true }
leptos_server = { workspace = true }
leptos_config = { workspace = true }
tracing = "0.1"
typed-builder = "0.11"

[dev-dependencies]
leptos = { path = ".", default-features = false }

[features]
default = ["csr", "serde"]
csr = [
  "leptos_dom/web",
  "leptos_macro/csr",
  "leptos_reactive/csr",
  "leptos_server/csr",
]
hydrate = [
  "leptos_dom/web",
  "leptos_macro/hydrate",
  "leptos_reactive/hydrate",
  "leptos_server/hydrate",
]
ssr = [
  "leptos_dom/ssr",
  "leptos_macro/ssr",
  "leptos_reactive/ssr",
  "leptos_server/ssr",
]
stable = [
  "leptos_dom/stable",
  "leptos_macro/stable",
  "leptos_reactive/stable",
  "leptos_server/stable",
]
serde = ["leptos_reactive/serde"]
serde-lite = ["leptos_reactive/serde-lite"]
miniserde = ["leptos_reactive/miniserde"]
tracing = ["leptos_macro/tracing"]

[package.metadata.cargo-all-features]
denylist = ["stable", "tracing"]
skip_feature_sets = [
  [
    "csr",
    "ssr",
  ],
  [
    "csr",
    "hydrate",
  ],
  [
    "ssr",
    "hydrate",
  ],
  [
    "serde",
    "serde-lite",
  ],
  [
    "serde-lite",
    "miniserde",
  ],
  [
    "serde",
    "miniserde",
  ],
]
