[package]
name = "leptos"
version = { workspace = true }
edition = "2021"
authors = ["Greg Johnston"]
license = "MIT"
repository = "https://github.com/leptos-rs/leptos"
description = "Leptos is a full-stack, isomorphic Rust web framework leveraging fine-grained reactivity to build declarative user interfaces."
readme = "../README.md"
rust-version.workspace = true

[dependencies]
cfg-if = "1"
leptos_dom = { workspace = true }
leptos_macro = { workspace = true }
leptos_reactive = { workspace = true }
leptos_server = { workspace = true }
leptos_config = { workspace = true }
leptos-spin-macro = { version = "0.2", optional = true }
tracing = "0.1"
typed-builder = "0.18"
typed-builder-macro = "0.18"
serde = { version = "1", optional = true }
serde_json = { version = "1", optional = true }
server_fn = { workspace = true, features = [
  "form-redirects",
  "browser",
  "url",
  "cbor",
] }
web-sys = { version = "0.3.70", features = [
  "ShadowRoot",
  "ShadowRootInit",
  "ShadowRootMode",
] }
wasm-bindgen = { version = "0.2", optional = true }

[features]
default = ["serde"]
template_macro = ["leptos_dom/web", "dep:wasm-bindgen"]
csr = [
  "leptos_dom/csr",
  "leptos_macro/csr",
  "leptos_reactive/csr",
  "leptos_server/csr",
  "dep:wasm-bindgen",
]
hydrate = [
  "leptos_dom/hydrate",
  "leptos_macro/hydrate",
  "leptos_reactive/hydrate",
  "leptos_server/hydrate",
  "dep:wasm-bindgen",
]
default-tls = ["leptos_server/default-tls", "server_fn/default-tls"]
rustls = ["leptos_server/rustls", "server_fn/rustls"]
ssr = [
  "leptos_dom/ssr",
  "leptos_macro/ssr",
  "leptos_reactive/ssr",
  "leptos_server/ssr",
  "server_fn/ssr",
]
nightly = [
  "leptos_dom/nightly",
  "leptos_macro/nightly",
  "leptos_reactive/nightly",
  "leptos_server/nightly",
]
serde = ["leptos_reactive/serde"]
serde-lite = ["leptos_reactive/serde-lite"]
miniserde = ["leptos_reactive/miniserde"]
rkyv = ["leptos_reactive/rkyv", "server_fn/rkyv"]
tracing = ["leptos_macro/tracing"]
nonce = ["leptos_dom/nonce"]
spin = ["leptos_reactive/spin", "leptos-spin-macro"]
experimental-islands = [
  "leptos_dom/experimental-islands",
  "leptos_macro/experimental-islands",
  "leptos_reactive/experimental-islands",
  "dep:serde",
  "dep:serde_json",
]
trace-component-props = [
  "leptos_dom/trace-component-props",
  "leptos_macro/trace-component-props",
]

[package.metadata.cargo-all-features]
denylist = [
  "nightly",
  "tracing",
  "template_macro",
  "rustls",
  "default-tls",
  "wasm-bindgen",
  "rkyv",                  # was causing clippy issues on nightly
  "trace-component-props",
  "spin",
  "experimental-islands",
]
skip_feature_sets = [
  [
    "csr",
    "ssr",
  ],
  [
    "csr",
    "hydrate",
  ],
  [
    "ssr",
    "hydrate",
  ],
  [
    "serde",
    "serde-lite",
  ],
  [
    "serde-lite",
    "miniserde",
  ],
  [
    "serde",
    "miniserde",
  ],
  [
    "serde",
    "rkyv",
  ],
  [
    "miniserde",
    "rkyv",
  ],
  [
    "serde-lite",
    "rkyv",
  ],
  [
    "default-tls",
    "rustls",
  ],
]

[package.metadata.docs.rs]
rustdoc-args = ["--generate-link-to-definition"]
