[package]
name = "leptos"
version = { workspace = true }
edition = "2021"
authors = ["Greg Johnston"]
license = "MIT"
repository = "https://github.com/leptos-rs/leptos"
description = "Leptos is a full-stack, isomorphic Rust web framework leveraging fine-grained reactivity to build declarative user interfaces."
readme = "../README.md"
rust-version.workspace = true

[dependencies]
throw_error = { workspace = true }
any_spawner = { workspace = true, features = ["wasm-bindgen"] }
base64 = { version = "0.22", optional = true }
cfg-if = "1"
hydration_context = { workspace = true }
either_of = { workspace = true }
leptos_dom = { workspace = true }
leptos_hot_reload = { workspace = true }
leptos_macro = { workspace = true }
leptos_server = { workspace = true, features = ["tachys"] }
leptos_config = { workspace = true }
leptos-spin-macro = { version = "0.1", optional = true }
oco_ref = { workspace = true }
or_poisoned = { workspace = true }
paste = "1"
rand = { version = "0.8", optional = true }
reactive_graph = { workspace = true, features = ["serde"] }
rustc-hash = "2"
tachys = { workspace = true, features = ["reactive_graph", "oco"] }
thiserror = "1"
tracing = "0.1"
typed-builder = "0.18"
typed-builder-macro = "0.18"
serde = "1"
serde_json = { version = "1", optional = true }
server_fn = { workspace = true, features = [
  "form-redirects",
  "browser",
  "url",
] }
web-sys = { version = "0.3.63", features = [
  "ShadowRoot",
  "ShadowRootInit",
  "ShadowRootMode",
] }
wasm-bindgen = "0.2"
serde_qs = "0.12.0"
slotmap = "1.0.7"
futures = "0.3.30"
send_wrapper = "0.6.0"

[features]
hydration = ["reactive_graph/hydration", "leptos_server/hydration", "hydration_context/browser"]
csr = ["leptos_macro/csr", "reactive_graph/effects"]
hydrate = [
  "leptos_macro/hydrate",
  "hydration",
  "tachys/hydrate",
  "reactive_graph/effects",
]
default-tls = ["server_fn/default-tls"]
rustls = ["server_fn/rustls"]
ssr = [
  "leptos_macro/ssr",
  "leptos_server/ssr",
  "server_fn/ssr",
  "hydration",
  "tachys/ssr",
]
nightly = ["leptos_macro/nightly", "reactive_graph/nightly", "tachys/nightly"]
rkyv = ["server_fn/rkyv"]
tracing = [
  "reactive_graph/tracing",
  "tachys/tracing",
] #, "leptos_macro/tracing", "leptos_dom/tracing"]
nonce = ["base64", "rand"]
spin = ["leptos-spin-macro"]
experimental-islands = [
  "leptos_macro/experimental-islands",
  "dep:serde_json",
]
trace-component-props = [
  "leptos_macro/trace-component-props",
]
delegation = ["tachys/delegation"]

[package.metadata.cargo-all-features]
denylist = [
  "nightly",
  "tracing",
  "template_macro",
  "rustls",
  "default-tls",
  "wasm-bindgen",
  "rkyv",                  # was causing clippy issues on nightly
  "trace-component-props",
  "spin",
  "experimental-islands",
]
skip_feature_sets = [
  [
    "csr",
    "ssr",
  ],
  [
    "csr",
    "hydrate",
  ],
  [
    "ssr",
    "hydrate",
  ],
  [
    "serde",
    "serde-lite",
  ],
  [
    "serde-lite",
    "miniserde",
  ],
  [
    "serde",
    "miniserde",
  ],
  [
    "serde",
    "rkyv",
  ],
  [
    "miniserde",
    "rkyv",
  ],
  [
    "serde-lite",
    "rkyv",
  ],
  [
    "default-tls",
    "rustls",
  ],
]

[package.metadata.docs.rs]
rustdoc-args = ["--generate-link-to-definition"]
