[package]
name = "leptos"
version = { workspace = true }
edition = "2021"
authors = ["Greg Johnston"]
license = "MIT"
repository = "https://github.com/leptos-rs/leptos"
description = "Leptos is a full-stack, isomorphic Rust web framework leveraging fine-grained reactivity to build declarative user interfaces."
readme = "../README.md"
rust-version.workspace = true

[dependencies]
any_error = { workspace = true }
any_spawner = { workspace = true, features = ["wasm-bindgen"] }
base64 = { version = "0.22", optional = true }
cfg-if = "1"
hydration_context = { workspace = true }
leptos_dom = { workspace = true }
leptos_macro = { workspace = true }
leptos_reactive = { workspace = true }
leptos_server = { workspace = true }
leptos_config = { workspace = true }
leptos-spin-macro = { version = "0.1", optional = true }
oco = { workspace = true }
or_poisoned = { workspace = true }
paste = "1"
rand = { version = "0.8", optional = true }
reactive_graph = { workspace = true, features = ["serde"] }
rustc-hash = "1"
tachys = { workspace = true, features = ["reactive_graph", "oco"] }
thiserror = "1"
tracing = "0.1"
typed-builder = "0.18"
typed-builder-macro = "0.18"
serde = "1"
serde_json = { version = "1", optional = true }
server_fn = { workspace = true, features = [
  "form-redirects",
  "browser",
  "url",
  "cbor",
] }
web-sys = { version = "0.3.63", features = [
  "ShadowRoot",
  "ShadowRootInit",
  "ShadowRootMode",
] }
wasm-bindgen = "0.2"
serde_qs = "0.12.0"
slotmap = "1.0.7"
futures = "0.3.30"

[features]
default = ["serde"]
hydration = [
  "leptos_server/hydration",
  "hydration_context/browser",
]
csr = ["leptos_macro/csr", "leptos_reactive/csr"]
hydrate = [
  "leptos_macro/hydrate",
  "leptos_reactive/hydrate",
  "hydration",
  "tachys/hydrate",
]
default-tls = ["leptos_server/default-tls", "server_fn/default-tls"]
rustls = ["leptos_server/rustls", "server_fn/rustls"]
ssr = [
  "leptos_macro/ssr",
  "leptos_reactive/ssr",
  "leptos_server/ssr",
  "server_fn/ssr",
  "hydration",
  "tachys/ssr",
]
nightly = [
  "leptos_dom/nightly",
  "leptos_macro/nightly",
  "leptos_reactive/nightly",
  "tachys/nightly",
]
serde = ["leptos_reactive/serde"]
serde-lite = ["leptos_reactive/serde-lite"]
miniserde = ["leptos_reactive/miniserde"]
rkyv = ["leptos_reactive/rkyv", "server_fn/rkyv"]
tracing = [
  "reactive_graph/tracing",
] #, "leptos_macro/tracing", "leptos_dom/tracing"]
nonce = ["base64", "leptos_dom/nonce", "rand"]
spin = ["leptos_reactive/spin", "leptos-spin-macro"]
experimental-islands = [
  "leptos_dom/experimental-islands",
  "leptos_macro/experimental-islands",
  "leptos_reactive/experimental-islands",
  "dep:serde_json",
]
trace-component-props = [
  "leptos_dom/trace-component-props",
  "leptos_macro/trace-component-props",
]
delegation = ["tachys/delegation"]

[package.metadata.cargo-all-features]
denylist = [
  "nightly",
  "tracing",
  "template_macro",
  "rustls",
  "default-tls",
  "wasm-bindgen",
  "rkyv",                  # was causing clippy issues on nightly
  "trace-component-props",
  "spin",
  "experimental-islands",
]
skip_feature_sets = [
  [
    "csr",
    "ssr",
  ],
  [
    "csr",
    "hydrate",
  ],
  [
    "ssr",
    "hydrate",
  ],
  [
    "serde",
    "serde-lite",
  ],
  [
    "serde-lite",
    "miniserde",
  ],
  [
    "serde",
    "miniserde",
  ],
  [
    "serde",
    "rkyv",
  ],
  [
    "miniserde",
    "rkyv",
  ],
  [
    "serde-lite",
    "rkyv",
  ],
  [
    "default-tls",
    "rustls",
  ],
]
