[package]
name = "leptos_server"
version = { workspace = true }
edition = "2021"
authors = ["Greg Johnston"]
license = "MIT"
repository = "https://github.com/gbj/leptos"
description = "RPC for the Leptos web framework."
readme = "../README.md"

[dependencies]
leptos_reactive = { workspace = true }
server_fn = { workspace = true }
lazy_static = "1"
serde = { version = "1", features = ["derive"] }
thiserror = "1"
tracing = "0.1"

[dev-dependencies]
leptos = { path = "../leptos" }

[features]
csr = ["leptos_reactive/csr"]
hydrate = ["leptos_reactive/hydrate"]
ssr = ["leptos_reactive/ssr", "server_fn/ssr"]
stable = ["leptos_reactive/stable", "server_fn/stable"]

[package.metadata.cargo-all-features]
denylist = ["stable"]
