[package]
name = "leptos_server"
version = { workspace = true }
edition = "2021"
authors = ["Greg Johnston"]
license = "MIT"
repository = "https://github.com/leptos-rs/leptos"
description = "RPC for the Leptos web framework."
readme = "../README.md"
rust-version.workspace = true

[dependencies]
leptos_reactive = { workspace = true }
leptos_macro = { workspace = true }
server_fn = { workspace = true }
lazy_static = "1"
serde = { version = "1", features = ["derive"] }
thiserror = "1"
tracing = "0.1"
inventory = "0.3"

[dev-dependencies]
leptos = { path = "../leptos" }

[features]
csr = ["leptos_reactive/csr", "leptos_macro/csr"]
default-tls = ["server_fn/default-tls"]
hydrate = ["leptos_reactive/hydrate", "leptos_macro/hydrate"]
rustls = ["server_fn/rustls"]
ssr = ["leptos_reactive/ssr", "server_fn/ssr", "leptos_macro/ssr"]
nightly = ["leptos_reactive/nightly"]

[package.metadata.cargo-all-features]
denylist = ["nightly"]

[package.metadata.docs.rs]
rustdoc-args = ["--generate-link-to-definition"]
