[package]
name = "leptos_server"
version = { workspace = true }
edition = "2021"
authors = ["Greg Johnston"]
license = "MIT"
repository = "https://github.com/gbj/leptos"
description = "RPC for the Leptos web framework."
readme = "../README.md"

[dependencies]
leptos_dom = { workspace = true }
leptos_reactive = { workspace = true }
server_fn = { workspace = true }
form_urlencoded = "1"
gloo-net = "0.2"
js-sys = "0.3"
lazy_static = "1"
serde = { version = "1", features = ["derive"] }
serde_urlencoded = "0.7"
thiserror = "1"
serde_json = "1.0.89"
quote = "1"
syn = { version = "1", features = ["full", "parsing", "extra-traits"] }
proc-macro2 = "1.0.47"
ciborium = "0.2.0"
inventory = { version = "0.3.3", optional = true }

[dev-dependencies]
leptos = { path = "../leptos" }

[features]
csr = [
  #"leptos/csr",
  "leptos_dom/web",
  "leptos_reactive/csr",
]
hydrate = [
  #"leptos/hydrate",
  "leptos_dom/web",
  "leptos_reactive/hydrate",
]
ssr = [
  #"leptos/ssr",
  "leptos_reactive/ssr",
  "server_fn/ssr",
  "inventory"
]
stable = [
  #"leptos/stable",
  "leptos_dom/stable",
  "leptos_reactive/stable",
]

[package.metadata.cargo-all-features]
denylist = ["stable"]
