[package]
name = "leptos_server"
version = { workspace = true }
edition = "2021"
authors = ["Greg Johnston"]
license = "MIT"
repository = "https://github.com/leptos-rs/leptos"
description = "RPC for the Leptos web framework."
readme = "../README.md"
rust-version.workspace = true

[dependencies]
hydration_context = { workspace = true }
reactive_graph = { workspace = true, features = ["hydration"] }
#leptos_macro = { workspace = true }
server_fn = { workspace = true }
#lazy_static = "1"
thiserror = "1"
tracing = { version = "0.1", optional = true }
#inventory = "0.3"
futures = "0.3"

# serialization formats
serde = { version = "1", optional = true }
serde_json = { version = "1", optional = true }
miniserde = { version = "0.1", optional = true }
rkyv = { version = "0.7", optional = true, features = [
	"validation",
	"uuid",
	"strict",
] }
serde-lite = { version = "0.5", optional = true }
base64 = { version = "0.22", optional = true }

[dev-dependencies]
leptos = { path = "../leptos" }

[features]
default-tls = ["server_fn/default-tls"]
rustls = ["server_fn/rustls"]
hydration = ["reactive_graph/hydration", "dep:serde", "dep:serde_json"]
rkyv = ["dep:rkyv", "dep:base64"]
tracing = ["dep:tracing"]

[package.metadata.cargo-all-features]
denylist = ["nightly"]
