[package]
name = "leptos_server"
version = { workspace = true }
edition = "2021"
authors = ["Greg Johnston"]
license = "MIT"
repository = "https://github.com/leptos-rs/leptos"
description = "RPC for the Leptos web framework."
readme = "../README.md"
rust-version.workspace = true

[dependencies]
reactive_graph = { workspace = true }
leptos_macro = { workspace = true }
server_fn = { workspace = true }
lazy_static = "1"
serde = { version = "1", features = ["derive"] }
thiserror = "1"
tracing = "0.1"
inventory = "0.3"

[dev-dependencies]
leptos = { path = "../leptos" }

[features]
default-tls = ["server_fn/default-tls"]
rustls = ["server_fn/rustls"]

[package.metadata.cargo-all-features]
denylist = ["nightly"]
