[package]
name = "leptos_axum"
version = { workspace = true }
edition = "2021"
authors = ["Greg Johnston"]
license = "MIT"
repository = "https://github.com/leptos-rs/leptos"
description = "Axum integrations for the Leptos web framework."
rust-version.workspace = true

[dependencies]
axum = { version = "0.7", default-features = false, features = [
	"matched-path",
] }
futures = "0.3"
http-body-util = "0.1"
leptos = { workspace = true, features = ["ssr"] }
server_fn = { workspace = true, features = ["axum-no-default"] }
leptos_macro = { workspace = true, features = ["axum"] }
leptos_meta = { workspace = true, features = ["ssr"] }
leptos_router = { workspace = true, features = ["ssr"] }
leptos_integration_utils = { workspace = true }
parking_lot = "0.12"
serde_json = "1"
tokio = { version = "1", default-features = false }
tokio-util = { version = "0.7", features = ["rt"] }
tracing = "0.1"
once_cell = "1.18"
cfg-if = "1.0"

[dev-dependencies]
axum = "0.7"
tokio = { version = "1", features = ["net"] }

[features]
nonce = ["leptos/nonce"]
wasm = []
default = ["tokio/fs", "tokio/sync"]
experimental-islands = ["leptos_integration_utils/experimental-islands"]

[package.metadata.docs.rs]
rustdoc-args = ["--generate-link-to-definition"]
