name: Check Examples

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  call-with-matrix:
    name: Check
    strategy:
      fail-fast: false
      matrix:
        directory: [examples/counter,
examples/counter_isomorphic,
examples/counters,
examples/counters_stable,
examples/counter_without_macros,
examples/error_boundary,
examples/errors_axum,
examples/fetch,
examples/hackernews,
examples/hackernews_axum,
examples/js-framework-benchmark,
examples/leptos-tailwind-axum,
examples/login_with_token_csr_only,
examples/parent_child,
examples/router,
examples/session_auth_axum,
examples/slots,
examples/ssr_modes,
examples/ssr_modes_axum,
examples/tailwind,
examples/tailwind_csr_trunk,
examples/timer,
examples/todo_app_sqlite,
examples/todo_app_sqlite_axum,
examples/todo_app_sqlite_viz,
examples/todomvc]
    uses: ./.github/workflows/run-example-task.yml
    with:
      directory: ${{ matrix.directory }}
      cargo_make_task: "check"
