name: CI semver
on:
  push:
    branches:
      - main
      - leptos_0.6
      - leptos_0.8
  pull_request:
    branches:
      - main
      - leptos_0.6
      - leptos_0.8
env:
  DEBIAN_FRONTEND: noninteractive
jobs:
  get-leptos-changed:
    uses: ./.github/workflows/get-leptos-changed.yml
  test:
    needs: [get-leptos-changed]
    if: needs.get-leptos-changed.outputs.leptos_changed == 'true' && github.event.pull_request.labels[0].name != 'breaking'
    name: Run semver check (nightly-2025-03-05)
    runs-on: ubuntu-latest
    steps:
      - name: Install Glib
        run: |
          sudo apt-get update
          sudo apt-get install -y libglib2.0-dev
      - name: Checkout
        uses: actions/checkout@v4
      - name: Semver Checks
        uses: obi1kenobi/cargo-semver-checks-action@v2
        with:
          rust-toolchain: nightly-2025-03-05
